*~
accounts/*
/phpunit.xml
cache/*
!cache/.htaccess
!cache/index.html
composer.phar
/config.php
log_file_analysis/config/upload_defs.php
files/*
!files/index.htm
install/schemas/schema.json
language/*
!language/en
store/*
pthranking/*
live/*
!styles/prosilver
!styles/all
node_modules
vendor
/tests/phpbb_unit_tests.sqlite*
/tests/test_config*.php
/tests/tmp/*
/tests/vendor
/vagrant/phpbb-install-config.yml
.vagrant
.idea
.vscode/