*~
/phpunit.xml
cache/*
!cache/.htaccess
!cache/index.html
composer.phar
config*.php*
ext/*
files/*
images/avatars/gallery/*
images/avatars/upload/*
images/ranks/*
install/schemas/schema.json
language/*
!language/en
store/*
styles/*
ranking/*
!styles/prosilver
!styles/all
node_modules
vendor
/tests/phpbb_unit_tests.sqlite*
/tests/test_config*.php
/tests/tmp/*
/tests/vendor
/vagrant/phpbb-install-config.yml
.vagrant
.idea
