<!-- IF S_PTH_PROFILE_FIELDS -->
	<dl class="pth-field">
		<dt><label for="pth_country_button">{L_PTH_COUNTRY}{L_COLON}</label></dt>
		<dd>
			<div class="pth-dropdown" id="pth_country_dropdown">
				<input type="hidden" name="pth_country" id="pth_country" value="{PTH_COUNTRY}" />
				<button type="button" id="pth_country_button" class="inputbox pth-dropdown__selected" aria-haspopup="listbox" aria-expanded="false">
					<!-- IF PTH_COUNTRY -->
						<img src="{PTH_COUNTRY_FLAG}" alt="" width="20" height="14" /><span>{PTH_COUNTRY_NAME}</span>
					<!-- ELSE -->
						<span>{L_PTH_COUNTRY_SELECT}</span>
					<!-- ENDIF -->
				</button>
				<ul class="inputbox pth-dropdown__options" role="listbox" aria-labelledby="pth_country_button" hidden>
					<li class="pth-dropdown__option" role="option" data-value="" data-title="{L_PTH_NONE}"<!-- IF not PTH_COUNTRY --> aria-selected="true"<!-- ENDIF -->><i class="pth-dropdown__noflag"></i><span>{L_PTH_NONE}</span></li>
					<!-- BEGIN pth_country -->
						<li class="pth-dropdown__option" role="option" data-value="{pth_country.VALUE}" data-flag="{pth_country.FLAG}" data-title="{pth_country.TITLE}"<!-- IF pth_country.S_SELECTED --> aria-selected="true"<!-- ENDIF -->><img src="{pth_country.FLAG}" alt="" width="20" height="14" loading="lazy" /><span>{pth_country.TITLE}</span></li>
					<!-- END pth_country -->
				</ul>
			</div>
		</dd>
	</dl>
	<dl>
		<dt><label>{L_PTH_GENDER}{L_COLON}</label></dt>
		<dd>
			<label for="pth_gender_m"><input type="radio" name="pth_gender" id="pth_gender_m" class="radio" value="m"<!-- IF PTH_GENDER == 'm' --> checked="checked"<!-- ENDIF --> /> <span>{L_PTH_GENDER_MALE}</span></label>
			<label for="pth_gender_f"><input type="radio" name="pth_gender" id="pth_gender_f" class="radio" value="f"<!-- IF PTH_GENDER == 'f' --> checked="checked"<!-- ENDIF --> /> <span>{L_PTH_GENDER_FEMALE}</span></label>
			<label for="pth_gender_n"><input type="radio" name="pth_gender" id="pth_gender_n" class="radio" value=""<!-- IF not PTH_GENDER --> checked="checked"<!-- ENDIF --> /> <span>{L_PTH_NONE}</span></label>
		</dd>
	</dl>
	{% INCLUDEJS '@inquies_pokerth/js/pth_country.js' %}
<!-- ENDIF -->
