{% include '@' ~ NAMESPACE ~ '/head_panel.html' %}

<form id="file_upload" method="post" {{ S_FORM_ENCTYPE }}>
	<fieldset>
		<legend>{{ lang('UPLOAD_FILE') }}</legend>

		<dl>
			<dt><label for="filename">{{ lang('FILE_UPLOAD') }}{{ lang('COLON') }}</label><br><span>{{ lang('FILE_UPLOAD_EXPLAIN') }}</span></dt>
			<dd>
				<input class="inputbox" type="file" name="filename" id="filename" size="52" />
			</dd>
		</dl>

		<p class="submit-buttons">
			<input class="adm-button" type="submit" id="upload" name="upload" value="{{ lang('UPLOAD_SUBMIT') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>

	<fieldset>
		<legend>{{ lang('PROCESS') }}</legend>

		<p>{{ lang('PROCESS_FILE_EXPLAIN') }}
		<hr>
		{{ lang('PROCESS_FILE_WARNING') }}</p>
		<hr>

		<p class="submit-buttons">
			{{ LAST_FILE }}<br>
			{{ LAST_UPDATE}}<br><br>
			<input class="adm-button" type="submit" id="update" name="update" value="{{ lang('PROCESS_UPDATE') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
